<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffLib" version="2017.7.26.1241" targetFramework="net47" />
  <package id="ICSharpCode.Decompiler" version="2.3.1" targetFramework="net47" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net47" />
  <package id="ini-parser" version="2.5.2" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net47" />
  <package id="NUnit" version="3.9.0" targetFramework="net47" />
</packages>